<div class="container-fluid">
    <h1 class="h1 p-2 d-flex justify-content-center"> Your Cart </h1>
    <h5 class="h5 p-2 d-flex justify-content-center"> {{cartId}} </h1>
</div>

<section class="container-fluid">
    {{#if thAreProducts}}

        {{#each products}}

            <div class="p-2 m-4" id="divProducts">

                <ul class="list-group">
                    <li class="list-group-item list-group-item-action active" aria-current="true" ><h5>Product: {{ this.title }}</h5></li>
                    <li class="list-group-item list-group-item-action" >Description: {{this.description}}</li>
                    <li class="list-group-item list-group-item-action" >Code: {{this.code}}</li>
                    <li class="list-group-item list-group-item-action" >Price: {{this.price}}</li>
                    <li class="list-group-item list-group-item-action" >Status: {{this.status}}</li>
                    <li class="list-group-item list-group-item-action" >Stock: {{this.stock}}</li>
                    <li class="list-group-item list-group-item-action" >Category: {{this.category}}</li>
                    <li class="list-group-item list-group-item-action" >Thumbnail: {{this.thumbnail}}</li>
                </ul>

                <button>
                    <a href="http://localhost:8080/api/products/product/:{{this._id}}">See product</a>
                </button>

                <form action="" id="formSeeProduct">
                    <button type="submit">See Product</button>
                </form>
            </div>

        {{/each}}

    {{else}}
        <h3 class="h1 p-2 d-flex justify-content-center"> There aren't products </h3>
    {{/if}}

    <div class="p-2 d-flex justify-content-center">
        <button type="button" class="btn btn-primary">
            <a href="http://localhost:8080/web/session/" style="color:rgb(254, 254, 254);"> >>>Home </a>
        </button>
    </div>


</section>